#cuerpo
{
	background: #282A4A;
}
#titulo
{
	color: #282A4A;
	text-align: center;
}
#Etiquetas
{
	color:#515266;
	font-weight: bold;
	font-size: all;
	font-family:"arial";
}
#parrafo {
  overflow: auto;
  font-family: "arial";
  font-size: 20px;
  text-align: justify;
  margin-right: 500px;
}
#imagen
{
	width:450px;
 	height:450px;
	border-bottom: 10px solid #8A7E91 ;
	border-left: 10px solid #8A7E91 ;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
    float: right;
}
#boton
{
	background: #CECECE;
	color: #FFFFFF;
	width:120px;
 	height:40px;
 	border-radius: 4px;
 	font-family: "Times New Roman";
 	font-style: italic;
 	font-size: 20px;
 	font-weight: bold;
 	overflow: auto;
 	margin-left: 350px;
 	margin-top: 100px;
}
#pagina
{
	margin-top: 300px;
}
#texto
{
  width: 40%;
  padding: 8px 8px;
  margin: 8px 0;
  border-bottom: 10px solid #8A7E91 ;
  border-left: 10px solid #8A7E91 ;
  cursor: pointer;
}